@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}
/* depan.css */

body {
	color:#7ED2D7;
    margin: 0;
    padding: 0;
	display: flex;
    flex-direction: column;
    box-sizing: border-box;
	min-height: 100vh;
    padding-top: 0px;
    padding-bottom: 0px;
}

header {
    background-color: #7ED2D7;
    width: 100%;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Pastikan lebih tinggi dari elemen lain di halaman */
}

.logo {
    font-size: 24px;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
}

.search-bar button {
    margin-left: 8px;
    background-color: white;
    color: black;
}

input,
textarea {
	font-family: 'Montserrat';
	font-size: 17px;
	background-color: rgb(255, 255, 255);
	height: 42px;
	width: 420px;
	border: none;
	padding: 2% 19px;
	margin: 12px 0;
	outline: none;
   border-radius: 12px;
}

.profile-icon a {
	font-size: 18px; 
	display: inline-block;
	padding: 10px 10px;
	text-decoration: none;
	background-color: #ffffff;
	color: #7ED2D7;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	transition: background-color 0.3s;
  }

.profile-icon a:hover {
    background-color: #000000;
}

.profile-icon a:active {
    background-color: #ffffff;
}


footer {
    background-color: #7ED2D7;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 12px;
	position: relative;
	margin-top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
	z-index: 999;
}