body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #B9E3E5;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    text-align: center;
}

textarea {
    width: 600px;
    height: 300px;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ffffff;
    border-radius: 5px;
    resize: none;
}

button {
    padding: 10px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
}

.btn-submit {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    width: 40%;
}

.btn-back {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    width: 40%;
}
